@{
    ViewBag.Title = "ListaFornecedores";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Implementar Lista de Fornecedores</h1>
    </div>
</body>
</html>
